body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container{
    max-width: 1500px;
    margin:auto;
    text-align: center;
}
h1{
    margin-bottom:20px;
    font-size:3.5em;
    color:#333;
    text-shadow: #888 1px 1px;
}
.coffee-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.coffee-item{
    background-color: #fff;
    border:1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.coffee-item img{
    width: 100%;
    border-radius: 8px;
}
.coffee-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.modal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    background-color:  #fefefe;
    margin:3% auto;
    padding: 20px;
    border:1px solid #888;
    width: 50%;
    border-radius: 8px;
}
.close{
    color:#aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.recipe-preview h2{
    margin-top: 0;
}
.recipe-preview img{
    width: 100%;
    max-width:300px;
    border-radius: 8px;
}
ul{
    list-style:none;
    padding: 0;
}
ul li{
    margin: 5px 0;
}